body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display:flex;
    justify-content: center;
    background-color: #1F2937;
    height: 50px;
    align-items: top;
    padding: 8px;
    width: 100%;
    gap: 16px;
    padding-top: 0px;
}

.nav {
    display:flex;
    width: 100%;
    justify-content: center;
}



ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    
}



#logo {
    padding-top: 8px;
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    align-items: center;
}

.right-links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 22%;
    align-items: center;
}

.content {
    background-color: #1F2937;
    display: flex;
    width: 100%;
    gap: 48px;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    height: 400px;
    padding-right: 20px; 
}

.content-text{
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 400px;
}

.content-text h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.image-placeholder {
    display: flex;
    height: 150px;
    width: 350px;
    background-color: gray;
    color:#F9FAF8;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.content-text p{
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.content-text button {
    width: 90px;
    padding: 4px 12px;
    margin-top: 6px;
    background-color: #3882F6;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
}

.info {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards {
    display: flex;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    text-align: center;
}

.card .info-image {
    border: 3px solid #3882F6;
    border-radius: 12px;
    height: 125px;
    width: 125px;
    margin: 8px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-family: 'Flama Light Italic', sans-serif;
    color: #1F2937;
    width: 55%;
    padding-top: 128px;
    padding-bottom: 0;
}

.quote-author {
    display: flex;
    font-weight: bold;
    padding-bottom: 100px;
    padding-left: 500px;
    font-size: 24px;
}

.action {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    width: 70%;
    margin: 100px;
    border-radius: 10px;
}

.action-text {
    color:#F9FAF8;
    padding: 0;
    margin:0;
    font-size: 24px;
}

.action-text-two {
    color:#E5E7EB;
    font-size: 16px;
}

.action-button {
    display: flex;
    width: 100px;
}

.action-button button {
    background-color: #3882F6;
    color:#F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    width: 120px;
    padding: 0;
    margin: 0;
}

.action-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    padding: 40px;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
    color:#E5E7EB;
    height: 90px;
}


